/* GENERAL */

* {
	padding: 0;
	margin: 0;
}

body {
	background: #fafafa;
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
	height: 100px;
}
#container, #headercontent {
	width: 900px;
	margin: 0 auto;
}
#container {
	padding-top: 100px;
	position: relative;
	overflow: hidden;
}

input, textarea {
	outline: none;
}
h2 {
	font-size: 24px;
	margin-bottom: 8px;
}
h3 {
	font-weight: normal;
	margin-bottom: 8px;
}


/* HEADER */

#header {
	width: 100%;
	background-color: white;
	height: 64px;
	border-bottom: 1px solid #eee;
	box-shadow: 1px -1px 8px #eee;
	position: fixed;
	color: #5d5d5d;
	z-index: 99;
}
#headercontent h1 a {
	float: left;
	padding-top: 20px;
	font-size: 28px;
	color: #222;
	text-decoration: none;
}
#headercontent h1 a:hover {
	color: #5498c6;
}
#login {
	border-radius: 4px;
	color: #fff;
	float:right;
	overflow: hidden;
	padding: 8px 14px;
	font-size: 16px;
	font-weight: 100;
	margin-top: 16px;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	background-image: -webkit-linear-gradient(top, rgba(255,255,255,.05) 0%,rgba(180,180,180,.05) 60%,rgba(0,0,0,.15) 100%);
	background-image: linear-gradient(top, rgba(255,255,255,.05) 0%,rgba(180,180,180,.05) 60%,rgba(0,0,0,.15) 100%);
}
#btnLogout{
	background: rgba(0,0,0,.25);
	color: #fff;
	height: auto;
	display: block;
	float: right;
	font-weight: bold;
	font-size: inherit;
	margin: -10px;
	margin-right: -15px;
	margin-left: 10px;
	padding: 9px;
}
#btnLogout:hover, #btnLogout:active {
	background: rgba(0,0,0,.5);
}
#login .username {
	font-weight: bold;
}

/* SITEWIDE */

/* role colors */
.rolecolor {
	transition: background .5s;
	background: #6c6c6c;
}
.rol1 .rolecolor {
	background: #7aad45;
}
.rol2 .rolecolor {
	background: #68b3dd;
}
.rol3 .rolecolor {
	background: #9c49b6;
}

/* forms */
.errormessage, .notification {
	border-width: 1px;
	border-style: solid;
	padding: 3px 8px 2px;
	margin-bottom: 1em;
	font-weight: 700;
	font-size: 15px;
	text-shadow: none;
}
.errormessage {
	border-color: #c64f53;
	background: #f8b1ae;
	color: #c64f53;
	font-weight: bold;
	font-size: 14px;
}
.notification {
	border-color: #79aa3c;
	background: #cceebc;
	color: #79aa3c;
}
input.error, textarea.error {
	color: #000000;
	background-color: #92c2b7;
}
/*
form fieldset{
	border: 0;
	padding-top: 10px;
	margin-bottom: 15px;
}
form label{
	color: #232323;
	display: block;
	margin: 5px 0 5px 0;
}
form input[type="text"], form input[type="password"], form input[type="date"], form select{
	padding: 5px;
	border: 1px solid #cccccc;
	background-color: #f4f4f4;
	margin: 0 0 10px 0;
}
form select{
	height: 26px;
	border-radius: 0;
}
*/

#ajaxloadedassessment label{
	color: #232323;
	display: block;
	margin: 5px 0 5px 0;
}
#ajaxloadedassessment input[type="text"] {
	padding: 5px;
	border: 1px solid #cccccc;
	background-color: #f4f4f4;
	margin: 0 0 10px 0;
}
#ajaxloadedassessment textarea{
	padding: 8px 10px;
	border: 1px solid #cccccc;
	background-color: #f4f4f4;
	resize: none;
}

/* buttons */
.btnSubmit{
	border: 0;
	background-color: #777;
	color: #fff;
	cursor: pointer;
	font-size: 14px;
	padding: 5px 8px;
	height: 25px;
	text-decoration: none;
}
.btnSubmit:hover{
	background-color: #333;
}
#savebuttons {
	margin: 20px 0;
}
#savebuttons span {
	float: right;
	margin-left: 10px;
	overflow: hidden;
}
#savebuttons button {
	box-sizing: content-box;
	float: right;
	padding: 12px;
	min-width: 220px;
}
#savebuttons button.default {
	background: rgba(0,0,0,.25);
}
#savebuttons button.default:hover, #assessmentspage #savebuttons button.default:active {
	background: rgba(0,0,0,.5);
}

/* datatables */
.dataTables_wrapper {
	margin-bottom: 40px;
}


/* HOME */

#meldingen a.btn {
	background-color: #ddd;
}
#admin_page ul, #forbutton ul {
	font-size: 16px;
	list-style: none;
	margin-bottom: 24px;
}
#admin_page li, #forbutton li {
	margin-top: 8px;
    list-style: none;
}
#admin_page a, #forbutton a {
	color: #333;
	text-decoration:  none;
	display: block;
}
#admin_page a:hover, .forbutton a:hover {
	text-decoration:  underline;
}
a.btn {
	display: inline-block;
	position: relative;
	color: #555;
	text-shadow: 0 1px 0 rgba(255,255,255, 0.8);
	text-decoration: none;
	text-align: center;
	padding: 12px 12px;
	margin: 8px 10px;
	font-size: 16px;
	font-weight: 400;
	border-radius: 4px;
	border: 1px solid #bcbcbc;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12);
	background-image: -webkit-linear-gradient(top, rgba(255,255,255,.1) 0%,rgba(180,180,180,.1) 60%,rgba(120,120,120,.1) 100%);
	background-image: linear-gradient(top, rgba(255,255,255,.1) 0%,rgba(180,180,180,.1) 60%,rgba(120,120,120,.1) 100%);
}
a.btn:hover {
	color: #222;
}
a.btn:active, a.btn:active:after, a.btn:active:before {
	-webkit-box-shadow: none;
	box-shadow: none;
}


/* BEOORDELING MATRIX + AANPASSING MATRIX */

.matrix {
	text-shadow: none !important;
}
.matrix .aspect {
	border-collapse: collapse;
	margin-bottom: 40px;
	width: 100%;
}
.matrix td {
	font-size: 12px;
	width: 140px; /* ???? */
	text-align: center;
	position: relative;
}
.matrix thead tr {
	background: #222;
	color: #fff;
	font-size: 21px;
	font-weight: bold;
}
.matrix .aspecttitel {
	text-align: center;
	padding: 6px 12px;
}
.matrix .aspectdc, .matrix .aspectweging {
	font-size: 14px;
	padding: 8px 10px;
	text-align: left;
}
.matrix .aspectlegende {
	background: #444;
	color: #fff;
	font-size: 12px;
}
.matrix .aspectlegende th {
	padding: 8px 0;
}
.matrix .aspectlegende .scores {
	font-weight: normal;
}
.matrix td.deelaspect {
	background: #d6d6d6;
	font-size: 16px;
	padding: 5px 10px;
	text-align: left;
}
/* Javascript handles showing the correct group */
div.group {
	display: none;
}

/* beoordeling */
/* Javascript handles showing the matrix for selected student */
#assessmentspage #ajaxloadedassessment {
	display: none;
}
#assessmentspage .matrix td {
	padding: 12px 8px;
}
#assessmentspage .matrix .indicatorlevel {
	cursor: pointer;
}
#assessmentspage td:not(.active):hover {
	background: #eee;
}
#assessmentspage .matrix td.active {
	color: #fff;
}
#assessmentspage .matrix tr td.deelaspect {
	background: #d6d6d6;
}
#assessmentspage .matrix tr td.aspectscore {
	background: #444;
	color: #fff;
	font-size: 21px;
	font-weight: bold;
	text-align: center;
	min-width: 120px;
	max-width: 120px;
}
#assessmentspage .assessmentpanel {
	/*border: 1px solid #222;*/
	margin-bottom: 40px;
	overflow: hidden;
}
#assessmentspage .assessmentpanel .title {
	background: #222;
	color: #fff;
	font-size: 16px;
	font-weight: bold;
	padding: 8px;
}
#assessmentspage .assessmentpanel ul {
	list-style: inside;
	padding: 8px;
}
#assessmentspage .assessmentpanel li {
	margin-bottom: 4px;
}
#assessmentspage #personalfeedback .personalfeedback {
	display: block;
	font-size: 14px;
	width: 878px;
}
#assessmentspage #breakpointfeedback fieldset {
	position: relative;
}
#assessmentspage #breakpointfeedback fieldset label {
	float: left;
	margin: 8px;
}
#assessmentspage #breakpointfeedback fieldset input {
	float: left;
	margin: 4px 20px 4px 10px;
	width: 150px;
}
#assessmentspage #breakpointfeedback #isbreakpoint {
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	background: #f00;
	color: #fff;
	font-weight: bold;
	font-size: 16px;
	text-align: center;
	padding: 12px;
	width: 220px;
}



/* aanpassing */
.matrix.edit input {
	font: inherit;
}
.matrix.edit textarea {
	color: #666;
	border: 1px solid #cccccc;
	font-size: inherit;
	min-height: 75px;
	margin: 5px 0 2px;
	padding: 6px;
	overflow: hidden;
	overflow-y: auto;
	text-align: center;
	width: 125px;
}
.matrix.edit .aspecttitel {
	padding: 4px 8px;
}
.matrix.edit th .ui-btn {
	margin: 16px 5px 0;
	padding: .3em .5em;
}
.matrix.edit td.deelaspect {
	padding: 3px 6px;
}
.matrix.edit .deelaspect input[type="text"] {
	background: #d6d6d6;
	border: 1px dashed rgba(0,0,0,.5);
	font-size: 16px;
	/*padding: 2px 4px;*/
	width: 100%;
}
.matrix.edit .deelaspect.indicatorweging input, .matrix.edit .deelaspect.indicatorweging label {
	float: left;
	width: auto;
}
.matrix.edit .deelaspect.indicatorweging .ui-input-text {
	margin: 0;
	padding: 0;
}
.matrix.edit .deelaspect.indicatorweging label {
	padding: 8px 5px 0;
}

.matrix.edit .aspectweging input, .matrix.edit .aspectdc input {
	background: #222;
	border: 1px dashed rgba(255,255,255,.5);
	color: #fff;
	font-size: 14px;
	text-align: left;
	padding: 5px 4px;
	/*width: 50px;*/
}
.matrix.edit .aspecttitel input {
	background: #222;
	border: 1px dashed rgba(255,255,255,.5);
	color: #fff;
	font-size: 21px;
	font-weight: bold;
	text-align: left;
	padding: 1px 4px;
	width: 100%;
	/*width: 875px;*/
}
.matrix.edit .aspecttitel input:focus, .matrix.edit .aspectweging input:focus, .matrix.edit .aspectdc input:focus, .matrix.edit .deelaspect input:focus, .matrix.edit textarea:focus, #ajaxloadedassessment .matrix.view textarea:focus, #ajaxloadedassessment .matrix.view input[type="text"]:focus {
	background: #fff;
	border: 1px solid #4da1d9;
	box-shadow: 0 0 5px #4da1d9;
	color: #000;
}
.matrix.edit .ui-input-text {
	border: none;
}

.matrix.edit .new-indicator, .matrix.edit .del {
	font-size: 14px;
}

/*ADMIN IMPORT */
.btnImportSubmit {
	background: #6c6c6c;
	color: white;
	padding: 10px;
	border: none;
	font-weight: bold;
}

.importText ul{
	list-style: inside;
	margin: 10px;
}

.importText li{
	margin: 10px;
}

.select {
	border-radius: 10px 10px 0 0; 
	/*background: #eaeaea;*/
	padding: 12px 12px 0;
	margin-bottom: 10px;

	background-image: -webkit-linear-gradient(top, rgba(200,200,200,.4) 0%,rgba(240,240,240,.2) 60%,rgba(240,240,240,0) 100%);
	background-image: linear-gradient(top, rgba(255,255,255,.05) 0%,rgba(180,180,180,.05) 60%,rgba(0,0,0,.15) 100%);
}
.select > * {
    float:left;
    padding-left: 1em;
    padding-right: 0.5em;
}

.select > *:first-child {
	padding-left: 0;
}

.select > *:last-child { /**:nth-last-child(-n+2) {*/
    float: right;
}

.select:after {
    content:'';
    display:block;
    clear: both;
}

.roles {
	transition: background 1.5s;
    text-align: center;
    border-right:solid 1px #DDDDDD;
    padding:0px;
}/*
table{
    border-collapse:collapse;
}
td.roles{
    padding:0px;
}
label{
    display:block;
    padding:0px;
}*/

#changeuserpass, #changeanyuserpass {
    display: none;
    padding: 10px;
    margin: 8px 10px 25px;
    border-radius: 10px;
    background: #fff;
    border: 1px solid #dfdfdf;
}
#changeuserpass legend, #changeanyuserpass legend {
	font-weight: bold;
	margin-bottom: 8px;
}

td > small{
    float: right;
}

#subject{
	width: 450px;	
}